{{define "LinksEdit"}}
<!DOCTYPE html>
<html lang="en">
{{template "_head"}}
{{template "_menu"}}
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Editando produto</h1>
            <p class="lead">Insira os dados para atualizar ou editar</p>
        </div>
    </div>
    <form method="POST" action="update">
        <input type="hidden" name="id" value="{{.Id}}">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" value="{{.Name}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="type">Type:</label>
                    <input type="text" name="type" class="form-control" value="{{.Type}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" name="price" class="form-control" value="{{.Price}}">
                </div>
            </div>
        </div>
        <button type="submit" value="salvar" class="btn btn-success">Create</button>
        <a class="btn btn-info" href="/">Back</a>
    </form>
</body>
</html>
{{end}}